.game{
    text-align: center;
}

.grid{
    margin-top: 10px;
    display: inline-block;
}

.row:after{
    clear: both;
    content: "";
    display: table;
}

h1{
    font-family: monospace;
    margin-bottom: -4px;
    color: #414141;
}
